@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --cursor-color: white;
}

.cursor-blink {
  animation: cursor-blink 1s infinite;
}

@keyframes cursor-blink {
  0%, 50% {
    border-color: var(--cursor-color);
  }
  51%, 100% {
    border-color: transparent;
  }
}